flow.json
[{"id":"21bff7e9.9f77a","type":"tab","namespace":"tab","label":"text2sip","disabled":false,"info":""},{"id":"c4773ae1.666338","type":"exec","namespace":"exec","z":"21bff7e9.9f77a","name":"text2sip","program":"bash","arguments":"/home/text2sip.sh","autostart":false,"collect-output":false,"x":710,"y":440,"wires":[[],[{"id":"89cfac9b.ae86b","port":0}],[]]},{"id":"917fa919.5b4d28","type":"constant","namespace":"variable","z":"21bff7e9.9f77a","name":"","payload":"true","payloadType":"bool","outputonstartup":false,"x":180,"y":420,"wires":[[{"id":"c4773ae1.666338","port":0},{"id":"9f300ece.e6f12","port":0}]]},{"id":"5e5876ce.d0fff8","type":"template","namespace":"template","z":"21bff7e9.9f77a","name":"config text2sip","field":"payload","format":"handlebars","syntax":"plain","template":"CALLING_USER_NUMBER=homegear\nCALLING_USER_PASSWORD=1234abcd5678\nSIP_PROXY=192.168.1.1\nCALLED_USER=11\nPAUSE_BEFORE=10000\nPAUSE_AFTER=30000\nCALL_TIMEOUT=60\nLANGUAGE=de-DE\nMESSAGE=\"some Text\"\nEND\n","output":"str","x":530,"y":470,"wires":[[{"id":"c4773ae1.666338","port":2}]]},{"id":"8e1fec20.d4419","type":"debug","namespace":"debug","z":"21bff7e9.9f77a","name":"","active":true,"console":"debtab","complete":"payload","loglevel":"info","x":1145,"y":440,"wires":[]},{"id":"89cfac9b.ae86b","type":"switch","namespace":"basic-logic","z":"21bff7e9.9f77a","name":"check dtmf code","property":"payload","changes-only":false,"output-true":true,"output-false":false,"rules":[{"t":"eq","v":"[\"DTMF_CODE=1\",\"WHOLE_DTMF_CODE=#61\"]","vt":"array"}],"checkall":"false","inputs":1,"outputs":1,"x":945,"y":440,"wires":[[{"id":"8e1fec20.d4419","port":0}]]},{"id":"9f300ece.e6f12","type":"on-delay","namespace":"timers","z":"21bff7e9.9f77a","on-delay":"1000","name":"","x":365,"y":480,"wires":[[{"id":"5e5876ce.d0fff8","port":0}],[]]}]
